
</head>
<style type="text/css">
    body {
        margin: 0px;
        overflow-x: hidden;
    }
</style>
<body id>
<!--[if lt IE 9]>
<p class="chromeframe">
    <span>您使用的IE浏览器版本过低，本站不再支持，</span>
    <a href="//windows.microsoft.com/">升级您的IE浏览器</a>
    <span>，或使用</span>
    <a href="//www.google.cn/chrome/">Google Chrome</a><a>、</a><a href="//www.firefox.com.cn/download/">Firefox</a>
    <span>等高级浏览器，将会得到更好的体验！</span>
</p>
<![endif]-->
<div id="container" ng-app="myApp" ng-controller="myCtrl">
    <div class="q-body">
        <div class="q-body-main">
            <div class="q-body-left">
                <div class="q-body-head">
                    <img class="q-head-t" ng-src="{{t_img}}" alt="">
                    <div class="q-head-tro">
                        <text>Mrsnail <br>总计1篇文章</text>
                    </div>
                </div>
                <hr>
                <p style="text-align: center;">Welcome To My Blog</p>
                <hr>
                <div class="q-navs">
                    <ul ng-repeat="nav in navs">
                        <li ng-click="">{{nav.title}}</li>
                    </ul>
                </div>
            </div>
            <div class="q-body-right">
                <div class="motto">
                    <h1 style="text-align: center">{{con[_index].title}}</h1>
                    <hr>
                    <p>{{con[_index].txt}}</p>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script src="./static/js/data.js"></script>
<script type="text/javascript">
    var myApp = angular.module("myApp", ['ngAnimate']);
    myApp.controller("myCtrl", ["$scope", function ($scope) {
        // data
        $scope.t_img = t_img;
        $scope.navs = navs;
        $scope.con = con;
        $scope._index = 0;
        // methods
    }])
</script>
<script src="./static/js/bird.js"></script>
<script src="./static/js/init.js"></script>
</html>
