<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1" charset="UTF-8">
    <link rel="icon" href="static/images/snail.ico" sizes="">
    <title>...Mrsnail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--默认使用极速内核-->
    <meta http-equiv="Pragma" content="no-cache"/>
    <!--不产生浏览器缓存-->
    <meta name="renderer" content="webkit">
    <!--为搜索引擎提供关键词-->
    <meta name="Keywords" Content="mrsnail">
    <!--Description用来告诉搜索引擎你的网站主要内容。-->
    <meta name="Description" Content="你网页的简述">
    <!--标注版权-->
    <meta name="Copyright" Content="本页版权归Mrsnail所有。All Rights Reserved">
    <link rel="stylesheet" type="text/css" href="./static/css/index.css">
    <script src="./static/js/angular/angular.min.js"></script>
    <script src="./static/js/angular/angular-route.min.js"></script>
    <script src="./static/js/angular/angular-animate.min.js"></script>
    <script src="./static/js/three/three.min.js"></script>
    <script src="./static/js/three/Projector.js"></script>
    <script src="./static/js/three/stats.min.js"></script>
    <script src="./static/js/three/CanvasRenderer.js"></script>

</head>
<style type="text/css">
    body {
        margin: 0px;
        overflow-x: hidden;
    }
</style>
<body ng-app="myApp" ng-controller="myCtrl">
<!--[if lt IE 9]>
<p class="chromeframe">
    <span>您使用的IE浏览器版本过低，本站不再支持，</span>
    <a href="//windows.microsoft.com/">升级您的IE浏览器</a>
    <span>，或使用</span>
    <a href="//www.google.cn/chrome/">Google Chrome</a><a>、</a><a href="//www.firefox.com.cn/download/">Firefox</a>
    <span>等高级浏览器，将会得到更好的体验！</span>
</p>
<![endif]-->
<div id="container">
    <div class="q-body">
        <div class="q-body-main">
            <div class="q-body-left">
                <div class="q-body-head">
                    <img class="q-head-t" ng-src="{{t_img}}" alt="">
                    <div class="q-head-tro">
                        <text>Mrsnail <br>总计1篇文章</text>
                    </div>
                </div>
                <hr>
                <p style="text-align: center;">Welcome To My Blog</p>
                <hr>
                <div class="q-navs">
                    <ul ng-repeat="nav in navs">
                        <li ng-click="toPatch($index)"><a href="{{nav.url}}">{{nav.title}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="q-body-right">
                <div class="motto">
                    <article>
                        <h1 style="text-align: center">{{navs[_index].title}}</h1>
                        <hr>
                        <div ng-view></div>
                    </article>

                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script src="./static/js/data.js"></script>
<script type="text/javascript">
    var myApp = angular.module("myApp", ['ngRoute']);
    myApp.controller("myCtrl", ["$scope", function ($scope) {
        // data
        $scope.t_img = t_img;
        $scope.navs = navs;
        $scope._index = 0;
        // methods
        $scope.toPatch = function (_ids) {
            $scope._index = _ids;
        };
    }])
    myApp.config(['$routeProvider', function ($routeProvider) {
        $routeProvider
            .when('/', {templateUrl: './tpl/txt_one.html'})
            .when('/two', {templateUrl: './tpl/txt_two.html'})
            .otherwise({redirectTo: '/'});
    }]);
</script>
<script src="./static/js/bird.js"></script>
<script src="./static/js/init.js"></script>
</html>
